.row
  .panel#dark-panel
    .medium-2.columns.white-text
    %h2
      .white-text
        Edit Profile
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        .white-text
          Email
        %br/
        = f.email_field :email, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        .white-text
          Password
          %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "off"
      .field
        .white-text
          Password confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      .field
        .white-text
          Current password
          %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "off"
      .actions
        = f.submit "Update"
    .white-text
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "Back", :back
