- if @event.errors.any?
  #error_explanation
    %h2
      = pluralize(@event.errors.count, "error")
      prohibited this event from being saved:
    %ul
      - @event.errors.full_messages.each do |message|
        %li= message
.panel#dark-panel
  = form_for @event do |f|
    .row
      .large-7.columns
        .small-6.columns
          .new_event
            = f.text_field :title, placeholder: "Title"
            .form
    .row
      .large-7.columns
        .small-4.columns
          .new_event.white-text
            = f.label :start_time
            = f.time_field :start_time
        .small-4.columns
          .new_event.white-text
            = f.label :end_time
            = f.time_field :end_time
        .small-4.columns
          .new_event.white-text
            = f.label :date
            = f.date_field :date, default: Date.today
    .row
      .large-7.columns
        .large-4.columns
          .new_event.white-text
            = f.label :category_id
            = f.select :category_id, Category.all.collect { |a| [a.category, a.id] }
    .row
      .large-7.columns
        .small-6.columns
          .new_event
          = f.text_field :address, placeholder: "Address"
        .small-6.columns
          .new_event
          = f.text_field :address_2, placeholder: "Address 2"
    .row
      .large-7.columns
        .small-4.columns
          .new_event
            = f.text_field :city, placeholder: "City"
        .small-4.columns
          .new_event
            = f.select :state, options_for_select(us_states)
        .small-4.columns
          .new_event
            = f.text_field :zip_code, placeholder: "Zip Code"
    .row
      .large-7.columns
        .large-12.columns
          = f.text_area :details, placeholder: "Details"
          %div
            = f.label :photo, 'Event photo'
            = f.file_field :photo
    .row
      .large-7.columns
        .large-3.columns
          .post
            = f.submit "Add event", class: "radius button tiny"
