.row
  .large-12.columns
    %ul
      - @events.each do |event|
        .large-4.columns
          .panel.white-text.index-panel#dark-panel
            .row
              #photo_or_map
                -if event.photo_url.to_s != ""
                  = image_tag event.photo_url.to_s
                -else
                  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}"
            .row
              %h3
                .white-text
                  = link_to event.title, event
              = event.category.category
              .event_date
                #{event.date}
              .event_time
                = event.start_time.strftime("%I:%M%p") + " - " + event.end_time.strftime("%I:%M%p")
