
.row
  .columns
    .panel.white-text#dark-panel
      .row
        .large-4.columns
          = @event.photo_url.to_s
        .large-8.columns
          .row
            .medium-8.columns
              %h3
                .white-text
                  = @event.title
              = @event.category.category
            .medium-4.columns
              #mini_map
                = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}"
          .row
            .medium-8.columns
              %span
                .event_date
                  #{@event.date}
                .event_time
                  = @event.start_time.strftime("%I:%M%p") + " - " + @event.end_time.strftime("%I:%M%p")
            .medium-4.columns.grey-text
              .event_where.text-right
                %div
                  #{@event.address}
                %div
                  = @event.address_2
                %div
                  = @event.city
                  , #{@event.state}
                %div
                  = @event.zip_code
          .row
            .large-10.columns
              %div
                Details: #{@event.details}
      .row
        .columns
          .rows
            .large-4.columns
              %div
                - if @event.attends_count == 1
                  = "#{@event.attends_count} person is attending this event"
                - else
                  = "#{@event.attends_count} people are attending this event"
              %div
                - if @event.maybe_attends_count == 1
                  = "#{@event.maybe_attends_count} person maybe attending this event"
                - else
                  = "#{@event.maybe_attends_count} people might be going to this event"
              - if current_user
                = link_to "Attending", event_attend_index_path(@event), method: :post
                = link_to "Maybe Attending", event_maybe_attend_index_path(@event), method: :post
                - if @event.owner_or_admin?(current_user)
                  %div
                  = link_to "Edit event", edit_event_path(@event)
                  %div
                  = link_to "Delete event", event_path(@event), method: :delete
