<!DOCTYPE html>
<html>
<head>
  <title>BulletienBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= link_to "Sign in", new_user_session_path %>
  </div>

  <div>
    <%= link_to "Sign up", new_user_registration_path %>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
